<footer class="nv-footer">
  <div class="footer-top">
    {{#each settings.footer.columns}}
      <div class="footer-column">
        <h3>{{this.heading}}</h3>
        <ul>
          {{#each this.links}}
            <li>
              {{#if this.url}}
                <a href="{{this.url}}">{{this.label}}</a>
              {{else}}
                <span>{{this.label}}</span>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
  <div class="footer-legal">
    <ul>
      {{#each settings.footer.legal_links}}
        <li><a href="{{this.url}}">{{this.label}}</a></li>
      {{/each}}
    </ul>
  </div>
</footer>

